<div class="note-head">
    <span class="glyphicon glyphicon-chevron-left cursor-p btn-lg" ng-click="restore()">返回</span>
    <div class="title i-b"><input type="text" ng-model="temp.title" placeholder="点击此处输入标题"></input></div>
    <div class="publish i-b"><button class="btn btn-default" ng-click="publish()"><span class="glyphicon glyphicon-open"></span>&nbsp;发布</button></div>
</div>
<div class="note-content">
<iframe id="collab-editor" src="/public/editor/collab/bulb.html" adapt-note-height></iframe>
</div>